NODE_ENV=development

API_HOST=127.0.0.1
EXPRESS_PORT=5000

# Database
MYSQL_HOST=127.0.0.1
MYSQL_NAME=my_db
MYSQL_USER=my_user
MYSQL_PASSWORD=my_password
MYSQL_PORT=3306

JWT_SECRET=secret

EMAIL_PASSWORD=123456
EMAIL_NAME=example@example.com